<!DOCTYPE html>
<html>
<head>
    <title>Embabel Travel</title>
    <script src="https://unpkg.com/htmx.org@2.0.5"></script>
    <script src="https://unpkg.com/htmx.org@2.2.2/dist/ext/sse.js"></script>

    <link href="/css/dark.css"
          rel="stylesheet">
</head>
<body>
<h2>Embabel Travel</h2>

<ul>
    <li><a href="/travel/journey">Plan a Journey</a></li>

    <li><a href="http://127.0.0.1:9411/zipkin/">Traces with Zipkin</a></li>

    <h2>Embabel Platform</h2>
    <li><a href="/api/v1/platform-info">Agents</a></li>
    <li><a href="/api/v1/platform-info/tools">Tools</a></li>
    <li><a href="/api/v1/platform-info/models">Models</a></li>

</ul>
</body>
</html>