<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Embabel Journey Planner</title>
    <script src="https://unpkg.com/htmx.org@2.0.5"></script>
    <link href="/css/dark.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:if="${travelPlan != null}">
        <h2 th:text="${travelPlan.plan.title}"></h2>

        <div style="margin-bottom: 20px;">
            <a href="/travel/journey" target="_blank" rel="noopener noreferrer"
               class="friendly-map-btn">
                Plan Another Journey
            </a>
        </div>
        <h3>Usage</h3>
        <p>Cost: $<span th:text="${#numbers.formatDecimal(agentProcess.cost(), 1, 2)}"></span> &nbsp;&nbsp;</p>
        <p>LLMs used:
            <span th:each="llm, iterStat : ${agentProcess.modelsUsed()}">
        <i th:text="${llm.name}"></i><span th:if="${!iterStat.last}">, </span>
    </span>
            &nbsp;&nbsp;
        </p>


        <div th:if="${travelPlan.brief != null}">
            <h3>Brief</h3>
            <p style="margin-bottom: 0.75rem;">From [[${travelPlan.brief.from}]] to [[${travelPlan.brief.to}]]
                from [[${#temporals.format(travelPlan.brief.departureDate, 'dd MMM yyyy')}]] to
                [[${#temporals.format(travelPlan.brief.returnDate, 'dd MMM yyyy')}]]</p>
            <i style="margin-bottom: 1rem; display:block;">[[${travelPlan.brief.brief}]]</i>

            <h3>Plan</h3>
            <div style="margin-bottom: 20px;">
                <a th:href="${travelPlan.journeyMapUrl}" target="_blank" rel="noopener noreferrer"
                   class="friendly-map-btn">
                    Interactive Map
                </a>
            </div>

            <div th:utext="${travelPlan.plan.plan}" style="margin-bottom: 1rem;"></div>
            <!--            <div th:if="${travelPlan.plan.days != null}">-->
            <!--                <h3>Days</h3>-->
            <!--                <ul style="margin-bottom: 1rem;">-->
            <!--                    <li th:each="day : ${travelPlan.plan.days}" th:text="${day.date + ' - ' + day.stayingAt}"-->
            <!--                        style="margin-bottom: 0.5rem;"></li>-->
            <!--                </ul>-->
            <!--            </div>-->
            <!--            <h3>Map</h3>-->

            <!--            <p>-->
            <!--                <a th:href="${travelPlan.journeyMapUrl}" target="_blank" rel="noopener noreferrer">Interactive map</a>-->
            <!--                &lt;!&ndash;            <img th:src="${travelPlan.journeyMapImageUrl(600,400)}" alt="Map of the journey" width="600" height="400" style="display:block; margin: 1rem 0;"/>&ndash;&gt;-->
            <!--            </p>-->
            <h3>Stays</h3>
            <ul style="margin-bottom: 1rem;">
                <li th:each="stay : ${travelPlan.stays}" style="margin-bottom: 0.5rem;">
                    <a th:href="${stay.airbnbUrl}" target="_blank" rel="noopener noreferrer"><span
                            th:text="${stay.stayingAt() + ' on Airbnb for ' + stay.days.size() + ' nights'}"></span></a>
                </li>
            </ul>

            <div th:if="${travelPlan.plan.pageLinks != null && !#lists.isEmpty(travelPlan.plan.pageLinks)}">
                <h3>Useful Links</h3>
                <ul style="margin-bottom: 1rem;">
                    <li th:each="page : ${travelPlan.plan.pageLinks}" style="margin-bottom: 0.5rem;">
                        <a th:href="${page.url}" target="_blank" rel="noopener noreferrer"><span
                                th:text="${page.summary}"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
